<div class="table">

    <ul class="{% if app.session.getFlashBag.has('selected_section') and app.session.getFlashBag.get('selected_section') == 'dashboard' %}current{% else %}select{% endif %}"><li><a href="{{ url('lomaswifi_admin_admin_home') }}"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub">
                <!--<ul class="sub">
                    <li><a href="#nogo">Dashboard Details 1</a></li>
                    <li><a href="#nogo">Dashboard Details 2</a></li>
                    <li><a href="#nogo">Dashboard Details 3</a></li>
                </ul>-->
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>

    <div class="nav-divider">&nbsp;</div>
    {% for section in sections %}
        {% set singular = section.singular|default(section.title|lower) %}
        {% set plural = section.plural|default(section.title|lower) %}
        <ul class="select {{ 0 == 1 ? 'current' : '' }}">
            <li>
                <a href="{{ url(section.route_prefix ~ '_index') }}"><b>{{ section.title|trans }}</b><!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <div class="select_sub">
                    <ul class="sub">
                        <li><a href="{{ url(section.route_prefix ~ '_index') }}">{% trans %}Listado de %plural%{% endtrans %}</a></li>
                        <li><a href="{{ url(section.route_prefix ~ '_new') }}">{% trans %}Agregar %singular%{% endtrans %}</a></li>
                    </ul>
                </div>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>
    {% endfor %}
    <div class="clear"></div>
</div>